<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.racoolab.vacationapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="집보내줘">

        <activity android:name=".activity.LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.AddVacationDataActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.MinusVacationDataActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.EditVacationActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7972968096388401~4035110400"/>




    </application>

</manifest>